appnope==0.1.0
attrs==17.4.0
backcall==0.1.0
click==6.7
coverage==4.5.1
decorator==4.3.0
Flask==1.0
-e git+git@github.com:RosenLo/notes.git@a20cee2f46e6a2a6bf79091f16a721d76cf67cb7#egg=flaskr&subdirectory=python/codes/flask/tutorial
ipython==6.3.1
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.12.0
Jinja2>=2.10.1
MarkupSafe==1.0
more-itertools==4.1.0
parso
pexpect==4.5.0
pickleshare==0.7.4
pluggy==0.6.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
py==1.10.0
Pygments==2.7.4
pytest==3.5.1
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
wcwidth==0.1.7
Werkzeug==0.15.3
