<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>hosts</title>
    <style type="text/css">
        .hide {
            display: none;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("button").click(function () {
                $("#show_host").removeClass("hide");
            })
        });
    </script>
</head>
<body>
<button type="button" >Show Host</button>
<br>
<br>
<table border="1" class="hide"  id="show_host">
    <tr>
        <th>Hostname</th>
        <th>IP</th>
        <th>UserGroup</th>
    </tr>
    <tr>
        {% for host in hosts %}
            <td>{{ host.hostname }}</td>
            <td>{{ host.ip }}</td>
            <td>{{ host.userGroup_id }}</td>
        {% endfor %}
    </tr>


</table>


</body>
</html>