<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
</head>
<body>

    <form action="" method="post">
        Username: {{ forms.username }}<br>
        Password: {{ forms.password }}<br>
        Email: {{ forms.email }}<br>
{#        {{ forms.as_table }}#}
        <input type="submit" value="提交">
    </form>

</body>
</html>